html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @base-font-color;
  background-color: @bg-light;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
