.button {
  display: block;
  background-color: @bg-accent;
  text-transform: uppercase;

  &:hover {
    background-color: #51aa2f;
  }

  &:active {
    color: fade(#ffffff, 30%);
  }
}

.button--secondary {
  background-color: @bg-neutral;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: fade(#444444, 30%);
  }
}
