.contacts__container {
  .container;
  .flex;
  margin-bottom: 25px;
}

.contacts__title {
  margin: 0;
  width: 139px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address-info {
  margin: 0;
  width: 139px;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
