.copyright__link {
  .flex;
  .link-style;
  padding: 19px 0;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 164px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 21px;
  }
}

.copyright__details {
  font-family: @font-arial;
  font-size: 16px;
  line-height: 18px;
}
