.demo {
  background-color: @bg-grey;
}

.demo__container {
  .container;
  padding-bottom: 45px;
}

.demo__title {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 25px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @dark-font-color;
}

.demo__description {
  margin: 0;
  margin-bottom: 35px;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
}

.demo__list {
  .flex;
  margin: 0;
  margin-bottom: 20px;
}

.demo__details-wrapper {
  position: relative;
  z-index: 1;
  width: 125px;
  text-align: center;

  &::before {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -2;
    width: 122px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    content: "";
  }
}

.demo__value {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
  color: @dark-font-color;
  text-transform: uppercase;
}

.demo__details {
  position: relative;
  margin: 0;
  padding: 0 22px;
  font-family: @font-arial;
  font-size: 12px;
  line-height: 12px;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 85px;
    height: 100%;
    background-color: @bg-grey;
    content: "";
  }
}

.demo__details--slim {
  padding-right: 26px;
}

.demo__cost {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: @dark-font-color;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.demo__image-container {
  display: flex;
  width: 280px;
  margin-bottom: 8px;
  overflow: hidden;
}

.demo__image {
  width: 280px;
}

.demo__image--fat {
  transform: scale(1.1);
}

.demo__range-container {
  .flex;
  flex-wrap: wrap;
  width: 210px;
  margin: 0 auto;
}

.demo__range-button {
  .button-style;
  min-width: 50px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.demo__range-scale {
  width: 77px;
  height: 12px;
  padding-left: 6px;
  background-color: @bg-light;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.demo__range-bar {
  width: 35px;
  height: 6px;
  background-color: @bg-accent;
  border-radius: 6px;
  margin: 3px -1px;
}
