.form__group-wrapper {
  @media (min-width: @desktop-width) {
    .flex (@align-items: flex-start;);
    width: 100%;
  }
}

.form__group {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    width: calc(47% - 3px);
    margin-bottom: 24px;
  }
}


.form__group--radio {
  position: relative;
  margin-bottom: 48px;

  &::before {
    position: absolute;
    top: -23px;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: #d9d9d9;
    content: "";
  }

  &::after {
    position: absolute;
    bottom: -21px;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: #d9d9d9;
    content: "";
  }

  @media (min-width: @tablet-width) {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 42%;
    padding: 24px 28px;
    padding-bottom: 22px;
  }
}

.form__group--contacts {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 26px;
  }
}

.form__group--cat-info {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 47px;
  }
}

.form__group--checkbox {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 47px;
  }
}

.form__group-title {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  color: @dark-font-color;
  background-color: @bg-light;
  box-shadow: 0 0 0 22px @bg-light;

  &::before {
    position: absolute;
    top: 17px;
    left: -20px;
    width: 100vw;
    z-index: -1;
    height: 2px;
    background-color: @bg-accent;
    content: "";
  }

  @media (min-width: @tablet-width) {
    padding-top: 26px;
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 36px;
    box-shadow: 0 0 0 40px @bg-light;

    br {
      display: none;
    }

    &::before {
      top: 48px;
      left: -70px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 23px;
    margin-bottom: 76px;

    &::before {
      top: 45px;
      left: -110px;
    }
  }
}

.form__group-title--checkbox {
  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

.form__block {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.form__block--email {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
  }
}

.form__block--phone {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.form__block--email,
.form__block--phone {
  @media (min-width: @desktop-width) {
    width: 46.7%;
  }
}

.form__control-label {
  font-size: 16px;
  text-transform: uppercase;


  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 300px;
  }
}

.form__control-label--name {
  margin-right: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 17px;
  }
}

.form__control-label--weight {
  margin-right: 17px;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.form__control-label--age {
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    margin-right: 17px;
  }
}

.form__control-label--email {
  margin-right: 11px;

  @media (min-width: @tablet-width) {
    margin-right: 21px;
  }
}

.form__control-label--phone {
  margin-right: 11px;

  @media (min-width: @tablet-width) {
    margin-left: -2px;
    margin-right: 17px;
  }
}

.form__field {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 1px;
  min-height: 46px;
  padding: 14px;
  padding-right: 40px;
  border: none;
  outline: 1px solid #e7e7e7;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  @media (min-width: @tablet-width) {
    padding: 16px 40px 16px 18px;
  }
}

.form__field--email {
  &:focus + .form__icon--email {
    color: @bg-accent;
  }

  @media (min-width: @tablet-width) {
    padding: 18px 40px 18px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 40px 18px 19px;
  }
}

.form__field--phone {
  &:focus + .form__icon--phone {
    color: @bg-accent;
  }

  @media (min-width: @tablet-width) {
    padding: 18px 40px 18px 19px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 40px 18px 18px;
  }
}

.form__field--textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  margin: 0;
  margin-top: 4px;
  padding: 6px 11px;
  padding-left: 15px;
  resize: none;

  @media (min-width: @tablet-width) {
    min-height: 170px;
    padding: 8px 19px;
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    padding: 9px 18px;
  }
}

::placeholder {
  font-family: @font-oswald;
  font-size: 16px;
  color: @base-font-color;
  opacity: 1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.form__icon {
  position: absolute;
  right: 18px;
  color: #222222;
}

.form__icon--phone {
  right: 16px;
}

.form__list {
  .reset-list;
}

.form__list--checkbox {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px 55px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 17px 78px;
    width: 100%;
  }
}

.form__item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
  }
}

.form__item--checkbox {
  margin-bottom: 12px;
}

.form__control {
  .flex (@justify-content: flex-start;);

  &:hover .form__control-mark {
    border: 1px solid #bababa;
  }
}

.form__control-mark {
  position: relative;
  display: block;
  min-width: 28px;
  height: 28px;
  margin-right: 16px;
  border: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    min-width: 38px;
    height: 38px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 21px;
  }
}

.form__control-mark--radio {
  border-radius: 50%;
}

.form__control-input[type="radio"]:checked + .form__control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: @bg-accent;
  content: "";

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.form__control-input[type="checkbox"]:checked + .form__control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-color: transparent;
  background-image: url("../img/tick.svg");
  .background-image-style;
  content: "";

  @media (min-width: @tablet-width) {
    width: 39px;
    height: 38px;
    background-size: 26px 26px;
  }

  @media (min-width: @desktop-width) {
    width: 37px;
    height: 39px;
    background-size: 26px 26px;
  }
}

.form__control-input[type="radio"]:disabled + .form__control-mark,
.form__control-input[type="radio"]:disabled ~ .form__control-label,
.form__control-input[type="checkbox"]:disabled + .form__control-mark,
.form__control-input[type="checkbox"]:disabled ~ .form__control-label {
  opacity: 0.3;
}

.form__button-block {
  @media (min-width: @tablet-width) {
    .flex;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 48px;
  }
}

.form__button {
  width: 100%;
  padding: 10px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
  color: @light-font-color;

  @media (min-width: @tablet-width) {
    width: 282px;
    padding: 16px;
    font-size: 20px;
    margin-left: 1px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-bottom: 33px;
  }
}

.form__notice {
  margin: 0;
  margin-bottom: 30px;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    padding-right: 44px;
    padding-top: 3px;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 310px;
    padding-top: 7px;
    margin-bottom: 40px;
  }
}

.invalid:required {
  border: 2px solid #ff8282;//класс для обозначения ошибки при заполнении обязательных полей
}

.form__field--email.invalid + .form__icon--email,
.form__field--phone.invalid + .form__icon--phone {
  color: #ff8282;
}
