.page-header {
  color: @dark-font-color;
  background-color: @bg-light;
}

.page-header--form {
  border-bottom: 1px solid #d9d9d9;
}

.page-header__container {
  .container;
  .flex;
  padding-top: 11px;
  padding-bottom: 15px;
}

.page-header__container--form {
  padding-top: 12px;
  padding-bottom: 14px;
}

.page-header__logo {
  .flex;
  width: 191px;
}

.page-header__logo-text {
  padding-top: 4px;
}
