.programmes-choice {
  line-height: 18px;
}

.programmes-choice__container {
  .container;
}

.programmes-choice__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 28px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @dark-font-color;
}

.programmes-choice__description {
  margin: 0;
  margin-bottom: 39px;
  padding-right: 30px;
  font-size: 14px;
  color: @dark-font-color;
  text-transform: uppercase;
}
